@charset "utf-8";
/* CSS Document */

body{margin:0; padding:0; font-family:"微软雅黑";font-size:12px;}
h1,h2,h3,h4 {margin:0; padding:0;}
.top{height:100px;width:100%;background:#fff;}
.white{background:#fff;}
.bg02{background:#434343;}
.w1000{width:1000px;margin:0 auto;}
a{text-decoration:none;color:#000;}
.fl{float:left;}
.fr{float:right;}
.mt10{margin-top:10px;}
.clear{clear:both;}
.h20 {height:20px;}
.nav{
	width:500px;
	height:30px;
	margin-top:70px;
}
.nav a{
	display:block;
	float:left;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
	height:30px;
	line-height:30px;
	width:80px;
	
	color:#000;
}
.nav a:hover{
	background:url(../images/global/navbg.gif) repeat-x bottom;
}
.nav a.active{
	background:url(../images/global/navbg.gif) repeat-x bottom;
}
.logo{
	width:248px;
	height:62px;
	float:left;
	margin-top:25px;
	margin-left:60px;
	_display:inline;
}


.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {zoom:1;}
ul,li {list-style:none;margin:0px; padding:0px;}
img {border:0;}

.wrapper {width:1000px; margin:0 auto;}
.container {background:#666; padding:10px 0;}
h1 {height:50px; line-height:50px; font-size:22px; font-weight:normal; font-family:"Microsoft YaHei",SimHei;}

.shuoming {margin-top:20px; border:1px solid #ccc; padding-bottom:10px;}
.shuoming dt {height:30px; line-height:30px; font-weight:bold; text-indent:10px;}
.shuoming dd {line-height:20px; padding:5px 20px;}

/* qqshop focus */
#focus {width:1000px; height:280px; overflow:hidden; position:relative;}
#focus ul {height:380px; position:absolute;}
#focus ul li {float:left; width:1000px; height:280px; overflow:hidden; position:relative; background:#000;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus .btnBg {position:absolute; width:1000px; height:20px; left:0; bottom:0; background:#000;}
#focus .btn {position:absolute; width:980px; height:10px; padding:5px 10px; right:0; bottom:0; text-align:right;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#focus .btn span.on {background:#fff;}
#focus .preNext {width:45px; height:100px; position:absolute; top:90px; background:url(../images/global/sprite.png) no-repeat 0 0; cursor:pointer;}
#focus .pre {left:0;}
#focus .next {right:0; background-position:right top;}


.title{
	height:53px;margin-left:10px;
}
.w320{
	width:320px;
	float:left;
	margin-left:10px;
	margin-top:10px;
	height:80px;
	overflow:hidden;

}
.w320:hover{
	background:#f3f3f3;
}
.w320 img{
	width:90px;
	height:70px;
	padding:4px;
	overflow:hidden;
	float:left;
	border:1px solid #ccc;
}
.w320 h4{
	width:190px;
	line-height:25px;
	height:25px;
	font-size:14px;
	font-weight:bold;
	float:left;
	margin-left:5px;
	overflow:hidden;
}
.w320 p{
	margin:0px;
	margin-left:5px;
	float:left;
	padding:0px;
	width:190px;
	color:#ccc;
	height:50px;
		overflow:hidden;

}

.myScroll {
	width:1000px;
	height:150px;
	overflow:hidden;
	position:relative;
	zoom:1;
}
.myScroll p {
	width:22px;
	height:210px;
	/*background-image:url(icon.gif);*/
	background-repeat:no-repeat;
	cursor:pointer
}
.myPrevBtn {
	background-position:left center;
	float:left;
	display:inline
}
.myNextBtn {
	background-position:right center;
	float:right;
	display:inline
}
.myBlock {
	overflow:hidden;
	float:left;
	display:inline
}
.myBlock ul {
	width:100%;
	overflow:hidden;
	zoom:1;
	list-style:none
}
.myBlock ul li {
	width:200px;
	float:left;
	padding:10px 0;
	display:inline
}
.myBlock ul li:hover {
	background-color:#666666;
}
.myBlock dl {
	width:160px;
	margin:0 auto;
	list-style:none;
	position:relative;
}
.myBlock dl dt {
	width:160px;
	height:120px;
	overflow:hidden;
	background-color:#CCC;
	display:table-cell; 
	vertical-align:middle;
}
.myBlock dl dt img {
	width:160px;
	height:120px;
    border:0;
}
.myBlock dl dd {
	line-height:18px;
	list-style:none;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:154px;
	left:0px;
	padding:3px;
	margin:0px;
	opacity:0.7;
	filter:alpha(opacity=70); -moz-opacity:0.7;
	background:#000;
}
.myBlock dl dd a {
	display:inline-block;
	color:#fff;
	width:100%;
}
.myClone {
	overflow:hidden;
	zoom:1
}
.myClone ul {
	float:left;
	display:inline
}

.footer{height:80px;width:100%;background:#fff;text-align:center;padding-top:10px;}
.footer p{line-height:24px;}	
	
	
.case_list{width:320px;padding:10px 0;height:200px;float:left;margin:10px 0px 10px 10px;overflow:hidden;display:inline;}
.case_list img{width:316px;height:136px;border:1px solid #999;padding:1px;}
.case_list span{font-size:14px;font-weight:bold;color:#666;padding-top:20px;margin:0 auto;text-align:center;width:100%;display:block;background:url(../images/global/case_img_b.gif) top no-repeat;}
.case_list a:hover span{background-color:#666;color:#fff;}
.case_list a:hover img { background-color:#CFF; border:1px solid #999}


.decorate_list{width:480px;float:left;margin:10px;display:inline;}
.decorate_list img{width:230px;height:120px;float:left;margin-right:10px; border:none;}
.decorate_list .tit{float:left;width:200px;line-height:30px; height:30px; font-size:14px;padding-left:10px;font-weight:bold; overflow:hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.decorate_list .tit:hover{background:#656565;color:#fff;}
.decorate_list p{width:200px;line-height:18px;color:#ccc;padding-left:10px; margin:0;height:70px;overflow:hidden;}
.decorate_list .more{
	width:50px;
	height:15px;
	font-family:"Times New Roman", Times, serif;
	color:#fff;
	line-height:10px;
	background:#656565;
	display:block;
	cursor:pointer;
	text-align:center;
	margin-left:150px;
	_margin-left:75px;
	float:left;
}
.decorate_list .more:hover{
	background:#000;
}
.line{
	width:100%;
	height:5px;
	background:url(../images/global/line.gif) no-repeat center center;
}

.red{color:red;}
.green{color:green;}
.pagination{line-height:40px;text-align:center;}
.pagination a, 
.pagination span{padding:0 10px;}
.pagination span.current {display:none;}
.pagination a:hover{background:#666;color:#fff;}

.detail_page{
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#666;
	color:#fff;
	font-size:18px;
	margin-top:10px;
}
.detail_page:hover{

	background:#000;

}
.detail_content{
	width:90%;
	margin:0 auto;
	text-align:center;
}
.detail_content h1{
	background:#000;
	color:#fff;
	font-size:24px;
	text-align:center;
	display:inline;
	line-height:40px;
	padding:3px 20px;

}
.detail_content img{margin:20px auto;}
.detail_content h2 { font-size:24px; text-align:left; font-weight:normal;  margin:0; padding:20px 0 10px; border-bottom:2px solid #CCC;}
.detail_content .d_text{text-align:left;line-height:24px;padding-bottom:30px;color:#666;}
.detail_content .d_text p{text-indent:2em;}